<!-- File: chapter2/controller-click-message.html -->
<html ng-app="basicApp">
<head><title>Basic App</title></head>
<body ng-controller="MainCtrl as ctrl">
  {{ctrl.message}}
  </p>
  
<ng-form name="profile">
      <input type="text"
             name="firstName"
             ng-model="ctrl.firstName"
             placeholder="First Name"
             required>
      <input type="text"
             name="middleName"
             placeholder="Middle Name"
             ng-model="ctrl.middleName">
      <input type="text"
             name="lastName"
             placeholder="Last Name"
             ng-model="ctrl.lastName"
             required>
    </ng-form>

  <button ng-click="ctrl.saveUser()">
    Save
  </button>
  
  {{ctrl.success}}
  
  </p>
  <button ng-click="ctrl.loadUsers()">
    Load all data
  </button>

  </p>
  <div ng-repeat="note in ctrl.notes">
    <span class="label"> {{note.firstName}}</span>
    <span class="label"> {{note.middleName}}</span>
    <span class="label"> {{note.lastName}}</span>
  </div>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js">
</script>
<script type="text/javascript">
  angular.module('basicApp', [])
    .controller('MainCtrl', ['$http', function($http, $scope) {
      var self = this;
      self.message= 'Click here to add another user ';
      
      self.saveUser = function() {

            var data = {
                firstName : self.firstName,
                middleName : self.middleName,
                lastName : self.lastName
            };

        $http.put('http://localhost:3000/saveTest?firstName=' + self.firstName + '&middleName=' + self.middleName + '&lastName=' + self.lastName).then(function(response) {
        	self.success = 'Woop woop';
        }, function(errResponse) {
        	self.success = errResponse;
        })
      };
      
      self.loadUsers = function() {
        $http.get('http://localhost:3000/loadTest').then(function(response) {
        	self.notes = response.data;
        }, function(errResponse) {
        	console.log(errResponse);
        })
      };
      
  }]);
</script>
</body>
</html>
